<div class="input-group">
    <div style="padding: 8px 4px;">
        <p>{{ 'CONF_DELETE_SELECTED' | translate }}</p>
    </div>
    <div class="clearfix">
        <button class="btn btn-danger pull-right" ng-click="deleteSelected.ok()" type="button">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>
