<div class="input-group" style="width: 220px;">
    <div style="padding: 8px 4px;">
        <p>{{ 'CONF_DELETE_FILE' | translate }}</p>
    </div>
    <div class="clearfix">
        <button class="btn btn-danger pull-right" ng-click="deleteFile.ok(file.Name)" type="button">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>