<div class="input-group" style="width: 220px;">
    <input type="text" class="form-control" 
           ng-model="renameFile.newFileName" placeholder="{{ 'NEW_FILE_NAME' | translate }}">
    <span class="input-group-btn">
        <button class="btn btn-success" ng-click="renameFile.ok(file.Name, renameFile.newFileName)" type="button">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </span>
</div>
